<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Список товаров</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Список товаров</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>id</td>
      <td>Название</td>
      <td>Цена</td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.id}"/>
      <td th:text="${product.title}"/>
      <td th:text="${product.price}"/>
      <td><form method="post" th:action="@{${'/delete/' + product.id}}">
        <button type="submit" class="btn btn-danger">x</button>
      </form></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
